#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  top: 0;
  color: black;
  margin-bottom: 2em;
}

.spotify {
  max-width: 75%;
}

.headerImage {
  position: absolute;
  max-height: 150px;
  max-width: 150px;
  left: 50vh;
  top: 1em;
  border-radius: 50%;
  border: black solid 4px;
  padding: 0.2em;
  background-color: white;
}

.eventImg {
  width: 50%;
  max-height: 100px;
  border-radius: 10px;
  margin-bottom: 1em;
}

label {
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

input {
  border-radius: 8px;
  border: 1px solid #213547;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f6e4d2;
  transition: border-color 0.25s;
  font-family: inherit;
  color: #213547
}

form {
  width: 100%;
  height: 100%;
}

.message {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  box-sizing: border-box;
  height: 150px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
}

.frameworkImg {
  max-width: 50%;
  max-height: 75px;
  border-radius: 10px;
  margin-bottom: 1em;
}
.actionBar {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}

.bodySectionHeader {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
}

.bodySectionFlex {
  display: flex;
  gap: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.bodySectionFlexSkills {
  display: flex;
  gap: 6%;
  margin-left: 5%;
  margin-right: 5%;
}

.bodySectionContent {
  border-radius: 10px;
  height: min-content;
}

li {
  text-align: justify;
}

.container {
  display: flex;
  gap: 2em;
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  gap: 1em;
}

.experience {
  border-radius: 10px;
  padding-bottom: 1em;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.aboutMe {
  flex: 1;
  margin-bottom: 20px;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #f6e4d2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: underline;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button img {
  max-height: 30px;
  max-width: 30px;
}

h1 {
  font-size: 2em;
  margin: 0;
  padding-left: 4px;
}

h2 {
  margin: 0.5em;
}

h4 {
  margin: 0.3em;
}

button {
  border-radius: 8px;
  border: 2px solid #d3d3ff;
  padding: 0.4em 1em;
  padding-bottom: 0.3em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffbf73;
  cursor: pointer;
  transition: border-color 0.25s, box-shadow 0.25s;
}

button:hover {
  border-color: #646cff; 
  box-shadow: 0 0 5px #646cff; 
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.bodySectionItemEmail {
  padding-right: 1em;
  padding-bottom: 1em;
  text-align: justify;
}

.textBorder {
  color: #213547;
}

.cat {
  width: 75%;
  margin: auto;
}

.bodySectionItem {
  text-align: justify;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
}

p {
  text-align: justify;
}

.aboutMe {
  background-color: #e4e6c2;
}

.flex {
  display: flex;
}