.sidebar-card-row {
  font-size: 10px;
  line-height: 14px;
  color: rgb(12, 50, 125);
  display: flex;
  gap: 4px;
}
.sidebar-card-row {
  white-space: nowrap;
}

.sidebar-card-row:hover {
  cursor: pointer;
  color: rgb(43, 114, 255);
  text-decoration: underline;
}

.sidebar-card-icon {
  width: 0.8rem;
}
