.desktop {
  height: 100%;
  overflow: hidden;
  background: url("/public/background1080.jpg") center center / cover no-repeat
    fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 80px;
  gap: 20px;
  padding: 20px;
  justify-items: start;
  align-content: start;
}
