#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  top: 0;
  color: white;
}

.actionBar {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}

.invert {
  filter: invert(1)
}

@media (prefers-color-scheme: light) {
  .invert {
    filter: invert(0)
  }
}