.icon-label {
  display: inline-block;
  color: white;
  text-shadow: black 0px 1px 1px;
  font-size: 12px;
}

.icon {
  cursor: pointer;
  box-sizing: border-box;
}

.icon.selected .icon-label {
  background-color: rgb(11, 97, 255);
  color: white;
  padding: 4px;
  margin: -4px;
}

.icon-img.dim {
  opacity: 0.5;
}
