body {
  font-family: Tahoma, "Noto Sans", sans-serif;
  overflow: hidden;
}

#root {
  height: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

code {
  font-family: Tahoma, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
