.window {
  display: flex;
  position: absolute;
  padding: 3px;
  background-color: rgb(8, 49, 217);
  flex-direction: column;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  &.unfocused {
    background-color: rgb(101, 130, 245);
  }
}

.window-body {
  margin-top: 25px;
  position: relative;
  background: linear-gradient(
    to right,
    rgb(237, 237, 229) 0%,
    rgb(237, 232, 205) 100%
  );
}

.actions {
  display: flex;
  justify-content: space-between;
  background-color: #ede9d3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.com__function_bar {
  display: flex;
  flex-shrink: 0;
  font-size: 11px;
  & div {
    display: flex;
    align-items: center;
    padding: 3px 7px;
    border: 1px solid transparent;
  }
  & div:hover {
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #7a7a7a;
    border-bottom: 1px solid #7a7a7a;
    user-select: none;
  }
  & div:active {
    border-left: 1px solid #7a7a7a;
    border-top: 1px solid #7a7a7a;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }
}

.localizer {
  display: flex;
}

.title-bar-text {
  display: flex;
  gap: 4px;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12px;
  margin-left: 2px;
  & img {
    width: 1rem;
  }
}

.title-bar {
  display: flex;
  height: 25px;
  line-height: 25px;
  font-weight: 700;
  font-size: 12px;
  font-family: "Noto Sans";
  text-shadow: rgb(0, 0, 0) 1px 1px;
  color: white;
  position: absolute;
  left: 3px;
  right: 3px;
  -moz-box-align: center;
  align-items: center;
  justify-content: space-between;
}

.com__function_bar__arrow {
  content: "";
  display: block;
  border-width: 3px 3px 0px;
  border-color: rgb(0, 0, 0) transparent;
  border-style: solid;
  margin-left: 4px;
  margin-right: 4px;
}

.folder-details {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
  gap: 2px;
  font-size: 11px;
  border-top: 1px solid white;
  flex-shrink: 0;
  & img {
    width: 1.35rem;
    margin-left: 2px;
    margin-right: 2px;
  }
}

.title-bar-background {
  background: linear-gradient(
    rgb(0, 88, 238) 0%,
    rgb(53, 147, 255) 4%,
    rgb(40, 142, 255) 6%,
    rgb(18, 125, 255) 8%,
    rgb(3, 111, 252) 10%,
    rgb(2, 98, 238) 14%,
    rgb(0, 87, 229) 20%,
    rgb(0, 84, 227) 24%,
    rgb(0, 85, 235) 56%,
    rgb(0, 91, 245) 66%,
    rgb(2, 106, 254) 76%,
    rgb(0, 98, 239) 86%,
    rgb(0, 82, 214) 92%,
    rgb(0, 64, 171) 94%,
    rgb(0, 48, 146) 100%
  );
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 28px;
  pointer-events: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    opacity: 1;
    background: linear-gradient(
      to right,
      rgb(22, 56, 230) 0%,
      transparent 100%
    );
    top: 0px;
    bottom: 0px;
    width: 15px;
  }
  &::after {
    content: "";
    opacity: 1;
    display: block;
    position: absolute;
    right: 0px;
    background: linear-gradient(to left, rgb(22, 56, 230) 0%, transparent 100%);
    top: 0px;
    bottom: 0px;
    width: 15px;
  }
  &.unfocused {
    background: linear-gradient(
      rgb(118, 151, 231) 0%,
      rgb(126, 158, 227) 3%,
      rgb(148, 175, 232) 6%,
      rgb(151, 180, 233) 8%,
      rgb(130, 165, 228) 14%,
      rgb(124, 159, 226) 17%,
      rgb(121, 150, 222) 25%,
      rgb(123, 153, 225) 56%,
      rgb(130, 169, 233) 81%,
      rgb(128, 165, 231) 89%,
      rgb(123, 150, 225) 94%,
      rgb(122, 147, 223) 97%,
      rgb(171, 186, 227) 100%
    );
    &::before {
      opacity: 0.3;
    }
    &::after {
      opacity: 0.4;
    }
  }
}

.window button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
  & img {
    width: 1.25rem;
  }
}

.title-bar-controls {
  display: flex;
  align-items: center;
  gap: 2px;
  &.unfocused * img {
    opacity: 0.7;
  }
  & img:hover {
    filter: brightness(1.2);
    &:active {
      filter: brightness(0.8);
    }
  }
}

.com__function_bar__separate {
  content: "";
  height: 2rem;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 2px;
}

.address {
  padding-left: 6px;
  padding-right: 16px;
  font-size: 11px;
  display: flex;
  align-items: center;
  padding-top: 1px;
  padding-bottom: 1px;
  gap: 4px;
  height: min-content;
  & p {
    margin: 0px;
  }
}

.addressLabel {
  color: gray;
}

.address_bar {
  display: flex;
  border: 1px solid rgba(122, 122, 255, 0.6);
  background-color: white;
  align-items: center;
  height: min-content;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 500px;
  justify-content: space-between;
  & img {
    width: 14px;
    height: 14px;
    margin-left: 1px;
    margin-right: 1px;
  }
}

.leftside {
  display: flex;
  align-items: center;
}

.rightside {
  display: flex;
  align-items: center;
  gap: 4px;
}

.square-arrow {
  width: 1.1rem;
}

.content-sidebar {
  width: 180px;
  background: linear-gradient(rgb(116, 138, 255) 0%, rgb(64, 87, 211) 100%);
  overflow: auto;
  padding: 10px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.content {
  display: flex;
}
